blocks:
  citation:
    fields:
      - title:
          source: ["name", "headline"]
          type: "string"
      - alternativeTitle:
          source: ["name"]
          type: "string_array"
      - dsDescription:
          source: ["description", "comment"]
          type: "complex_list"
          mapping:
            dsDescriptionValue: ["@"]
      - author:
          source: ["creator", "author"]
          type: "complex_list"
          mapping:
            authorName: ["@", "name", "contactPoint.name", "givenName"]
            authorAffiliation: ["affiliation.name", "memberOf.name", "publisher.name", "affiliation", "memberOf"]
            authorIdentifier: ["@id"]
            authorIdentifierScheme: ["scheme"] # Will be handled by logic or default
      - datasetContact:
          type: "complex_list"
          default: [{"datasetContactName": "FAIRagro Demonstrator", "datasetContactEmail": "fairagro@demo.org"}]
          # No mapper source, logic will fill or default
      - keyword:
          source: ["keywords", "keyword"]
          type: "complex_list"
          mapping:
            keywordValue: ["@"]
      - subject:
          source: ["about[*].name"]
          default: ["Agricultural Sciences"]
          type: "string_array"
      - otherId:
          type: "complex_list"
          mapping:
            otherIdValue: ["identifier"]
            otherIdAgency: ["@id"]
      - productionDate:
          source: ["datePublished"]
          type: "string"
      - distributionDate:
          source: ["datePublished"]
          type: "string"

  generalExtended:
    fields:
      - license:
          source: ["license"]
          type: "string"
      - sourceDatasetURI:
          source: ["@id", "url", "identifier"]
          type: "string"
          default: ""
      - sourceRDI:
          type: "complex"
          default:
            sourceRDIName: "FAIRagro"
            sourceRDIURI: "https://fairagro.net"

  geographic:
    fields:
      - geographicBoundingBox:
          source: ["spatialCoverage.geo.box", "spatialCoverage.0.geo.box"]
          type: "complex_list"
          mapping:
            westLongitude:
              source: ["_geo_west"]
              wrap: true
            eastLongitude:
              source: ["_geo_east"]
              wrap: true
            northLatitude:
              source: ["_geo_north"]
              wrap: true
            southLatitude:
              source: ["_geo_south"]
              wrap: true

  crop:
    fields:
      - crop:
          type: "complex_list"
          mapping:
            cropSpecies:
              source: ["_crop_species"]
              wrap: true
            cropSpeciesURI:
              source: ["_crop_species_uri"]
              wrap: true
            cropPestName:
              source: ["_crop_pest_name"]
              wrap: true
            cropPestURI:
              source: ["_crop_pest_uri"]
              wrap: true

  sensor:
    fields:
      - sensor:
          type: "complex_list"
          mapping:
            sensorSensorType:
              source: ["_sensor_type"]
              wrap: true
            sensorIsHostedBy:
              type: "complex"
              mapping:
                sensorPlatformType:
                  source: ["_platform_type"]
                  wrap: true
                sensorPlatformManufacturerName:
                  source: ["_manufacturer"]
                  wrap: true
                sensorPlatformModelName:
                  source: ["_model"]
                  wrap: true
